.center{
  text-align: center;
}
.bold{
  font-weight: bold;
  font-family: cursive;
  font-family: Arial;
}
.uppercase{
  text-transform: uppercase;
}
.large{
  font-size: large;
}
.gray{
  color: charcoal gray;
}
.title{
  color: black;
}
