.center{
  text-align: center;
}
.bold{
  font-weight: bold;
  font-family: cursive;
  font-family: Arial;
}
.uppercase{
  text-transform: uppercase;
}
.large{
  font-size: 150%;
}


.title{
  color: black;
}
p, h4{
  font-family: Arial;
  !important;
}
